<br><br><br>
<div style="padding: 20px; text-align:center;">
  <h1 style="color:#D98880">{{title}}</h1>
  <hr class="line">
  <br>
  <h3>{{description}}</h3>
  <br><br>
  <nav>
    <a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active"><b style="font-family:Verdana, Geneva, Tahoma, sans-serif">Customers</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active"><b style="font-family:Verdana, Geneva, Tahoma, sans-serif">Add</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active"><b style="font-family:Verdana, Geneva, Tahoma, sans-serif">Search</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
  </nav>
  <router-outlet></router-outlet>
</div>





